.bookItem
{
    border-radius: 2px;
    margin: 5px;
    background-color: aquamarine;
    /* justify-content: unset; */
    width: 20%;
    text-align: center;
    padding: 18px;
}

.bookItem:hover
{
    background-color: rgb(11, 196, 134);
}

#bookListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h4 span
{
    font-style: italic;
}